body{
	background-image:
		linear-gradient(to bottom right,
		  rgba(174,221,252, 0.45), 
		  rgba(62,140,189, 0.45)
		),
	url('../images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(62,140,189, 0.45);
}

.center-wrap { 
	width: 1000px; 
	margin: 0 auto;
	max-width: 600px;
	text-align:center;
} 

h1,h2,h3,h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
	display:flex;
	justify-content:center;
	align-items:center;
}

p{
	font-family: 'Open Sans';
	font-style: normal;
	display:flex;
	justify-content:center;
	align-items:center;
}

.centered-images{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.round-corners-complete {
    border-radius: 25px;
    padding: 20px; 
}
.round-corners-right {
    border-radius: 15px 50px 30px 5px;
    padding: 20px; 
}

.social{
	max-height:2em;
	max-width:2em;
	display: inline-block;
	margin: auto;
	padding: 5px;
}
