body{
	background-image:
		linear-gradient(to bottom right,
		  rgba(174,221,252, 0.45), 
		  rgba(62,140,189, 0.45)
		),
	url('../images/back.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	/* background-color:  */
}

h1,h2,h3,h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

p{
	font-family: 'Open Sans';
	font-style: normal;
	display:flex;
	justify-content:center;
	align-items:center;
}


.round-corners-complete {
    border-radius: 25px;
    padding: 20px; 
}
.round-corners-right {
    border-radius: 15px 50px 30px 5px;
    padding: 20px; 
}

.center-wrap { 
 width: 1000px; margin: 0 auto; 
} 